<h1>About</h1>
<p>Team Optimizer is an app that aims to match users with a diverse group of people in an educational or professional environment. In either of these settings, people may be new to the group and thus won't know anyone with whom to form a team, if needed. Team Optimizer aims not only to aleviate this struggle but also ensure that teams formed are as diverse in personalities as can be achieved in the class or employee pool.</p>
<p>Ready to try it out? {{#link-to "register"}}Sign up{{/link-to}}</p>
{{outlet}}
