<h1>Help</h1>
<p>To begin using this service, please take a short survey so we'll know how to best sort you with other people in your class, group of coworkers, etc.</p><br>
<p>Once you do this and create your account, you can view people in your group(s) by logging into your profile</p>
{{outlet}}