<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h2>Create teams of people that learn from each other.</h2>
      <p>Research shows that diverse teams learn faster and perform better. Team Optimizer sorts people into teams that are designed to encourage learning and maximize productivity.</p>
      {{#link-to "register" class="btn btn-primary btn-lg"}}Sign Up{{/link-to}}
      {{#link-to "about" class="btn btn-default btn-lg"}}Learn more{{/link-to}}
    </div>
  </div>
</div>
{{outlet}}
